body {
    display: flex;
    font-family: 'Press Start 2P', sans-serif;
    background-color: black;
    margin: 0 auto;
    border: solid 1px white;
    color: white;
}

.header {
    position: fixed;
    z-index: 100;
    width: 95%;
    color: white;
}

.h1 {
    text-align: end;
    font-size: 24px;
}

.nav {
    writing-mode: vertical-lr;
    position: fixed;
    top: 20px;
    left: 187px;
    line-height: 2.6;
}

.nav li {
    transform: rotate(-45deg)
}

#pokedex {
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    position: fixed;
    z-index: 20;
    
}

.screen {
    margin: 0 auto;
    background-color: darkblue;
    max-width: 410px;
    height: 10000px;
    top: 310px;
    left: 50px;
    z-index: 5
}

.footer {
    color: white;
    position: fixed;
    z-index: 10;
    top: 700px;
    text-align: center;
    background-color: black;
    width: 100%
}
