body {
    color: white;
    background-color: black;
    font-family: 'Press Start 2P';
    max-width: 442px;
    margin: 0 auto;
}

#pokedex {
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    z-index: 50;
}

#true-header {
    position: fixed;
    z-index: 100;
    color: #fff60d;
    text-shadow:
    -2px -2px 0 #4671f0,  
    2px -2px 0 #4671f0,
    -2px 2px 0 #4671f0,
    2px 2px 0 #4671f0;
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-size: 100%;
    text-align: end;
}


nav {
    position: relative;
    writing-mode: vertical-lr;
    line-height: 2.6;
    margin-top: -50px;;
    left: 37%
}

nav li {
    transform: rotate(-45deg);
    font-size: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#screen {
    border: solid 1px lightblue;
    width: 83%;  
    margin-top: 45%;
    padding-bottom: 90%;
    background-color: lightblue;
    font-size: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;

}

#screen img {
    width: 60%;
}

.pokemon {
    display: flex;
    flex-direction: row-reverse;
}

.pokemon ul {
    padding-left: 3px;
    color: black;
    line-height: 2.25
}

.name {
    font-size: 12px
}


#band {
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    height: 30%
}

