body {
    color: white;
    background-color: black;
    font-family: 'Press Start 2P';
    max-width: 442px;
    margin: 0 auto;
}

#pokedex {
    position: fixed;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 50;
}

#true-header {
    position: fixed;
    top: 0;
    z-index: 100;
    color: #fff60d;
    text-shadow:
    -2px -2px 0 #4671f0,  
    2px -2px 0 #4671f0,
    -2px 2px 0 #4671f0,
    2px 2px 0 #4671f0;
    max-height: 100%;
    max-width: 100%;
}

.section {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 100%;
    text-align: end;
}

nav {
    position: relative;
    writing-mode: vertical-lr;
    line-height: 2.6;
    margin-top: -50px;;
    left: 37%
}

nav li {
    transform: rotate(-45deg);
    font-size: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#screen {
    width: 83%;  
    margin-top: 45%;
    padding-bottom: 90%;
    font-size: 10%;
}

#screen img {
    width: 60%;
}

.pokemon {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.pokemon ul {
    padding-left: 3px;
    color: black;
    line-height: 2.25;
}

.name {
    font-size: 12px;
    text-transform: capitalize;
}

#band {
    background-color: black;
    width: 100%;
    height: 30%;
    position: fixed;
    z-index: 10;
    bottom: 0px;
    
}

#iframe-box {
    margin-top: 204px;
}

iframe {
    width: 100%;
    height: 273px;
}