body {
    color: white;
    background-color: black;
    font-family: 'Press Start 2P';
    max-width: 442px;
    margin: 0 auto;
}

header{
    position: fixed;
    max-width: 442px;
}

#pokedex {
    position: relative;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: 50;
}

#band {
    background-color: black;
    max-width: 442px;
    height: 999px;
    position: relative;
    z-index: 10;
}

.buttons {
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 955;
    background-color: blue;
}

/* #true-header {
    position: fixed;
    top: 0;
    z-index: 100;
    color: #fff60d;
    text-shadow:
    -2px -2px 0 #4671f0,  
    2px -2px 0 #4671f0,
    -2px 2px 0 #4671f0,
    2px 2px 0 #4671f0;
    max-height: 100%;
    max-width: 100%;
} */

.section {
    display: flex;
    justify-content: center;
}

/* h1 {
    font-size: 100%;
    text-align: end;
} */

/* nav {
    position: relative;
    writing-mode: vertical-lr;
    line-height: 2.6;
    margin-top: -50px;;
    left: 37%
}

nav li {
    transform: rotate(-45deg);
    font-size: 50%;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#screen {
    width: 83%;  
    margin-top: 45%;
    padding-bottom: 90%;
    font-size: 10%;
}

#screen img {
    width: 60%;
}

.pokemon {
    padding-top: 20px;
    padding: 10px;
}

.stats-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -20px
}

.pokemon ul {
    list-style: none;
    padding-left: 3px;
    color: black;
    line-height: 2.25;
}

.name {
    font-size: 22px;
    text-transform: capitalize;
}


#iframe-box {
    margin-left: 15%;
    margin-top: 47%;
}

#iframe-box img{
    width: 82%;
}

/* #controls {
    position: fixed;
    z-index: 200;
    margin-top: 59.5%;
    margin-left: 12%;
    width: 75px;
    height: 75px;
} */
